body{
background-color: rgba(125, 62, 156, 0.884);
font-size: x-large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

color: rgb(236, 246, 247);

}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: hsl(240, 15%, 90%);
  font-size: xx-large;

}

.sla {
 font-size: xx-large; 
}
