body{
background-color: rgb(253, 251, 253);
font-size: x-large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

color: rgb(17, 16, 16);

}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: hsl(240, 3%, 6%);
  font-size: xx-large;

}

.sla {
 font-size: xx-large; 
}
